<section class="section counter">
  <div class="container">
    <a class="video counter__video" data-fancybox="video-gallery" href="https://youtu.be/WY8sDvZdWEA">
      Watch Video
    </a>
    <div class="counter__inner" style="background-image: url('images/main/counter-bg.jpg');">
      <ul class="counter__list">
        <li class="counter__item">
          <span class="counter__num">
            1200
          </span>
          students graduated
        </li>
        <li class="counter__item">
          <span class="counter__num">
            84
          </span>
          completed courses
        </li>
        <li class="counter__item">
          <span class="counter__num">
            16
          </span>
          qualified tutors
        </li>
        <li class="counter__item">
          <span class="counter__num">
            5
          </span>
          years of experience
        </li>
      </ul>
    </div>
  </div>
</section>