<section class="section process">
  <div class="container">
    <div class="process__inner" style="background-image: url('images/main/process-bg.png');">
      <div class="process__info">
        <h2 class="title process__title">
          <span class="subtitle">
            Studying process
          </span>
          That’s how we do it
        </h2>
        <ul class="process__list">
          <li class="process__item">
            <span class="process__step">
              STEP 1
            </span>
            <h3 class="process__heading">
              Watching online video lectures
            </h3>
            <div class="process__text">
              <p>
                Aliquam turpis viverra quam sit interdum blandit posuere pellentesque. Nisl, imperdiet gravida massa
                neque.
              </p>
            </div>
          </li>
          <li class="process__item">
            <span class="process__step">
              STEP 2
            </span>
            <h3 class="process__heading">
              Passing test
            </h3>
            <div class="process__text">
              <p>
                Facilisis pellentesque quis accumsan ultricies. Eu egestas eget feugiat lacus, amet, sollicitudin
                egestas
                laoreet etiam.
              </p>
            </div>
          </li>
          <li class="process__item">
            <span class="process__step">
              STEP 3
            </span>
            <h3 class="process__heading">
              Curator’s feedback
            </h3>
            <div class="process__text">
              <p>
                Eget amet, enim pharetra leo egestas nisi, odio imperdiet facilisis. Aliquet orci varius volutpat
                egestas
                facilisi lobortis.
              </p>
            </div>
          </li>
          <li class="process__item">
            <span class="process__step">
              STEP 4
            </span>
            <h3 class="process__heading">
              Corrections if needed
            </h3>
            <div class="process__text">
              <p>
                Non tempor pulvinar tincidunt aliquam. Placerat ultricies malesuada dui auctor.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>