<section class="section teach">
  <div class="container">
    <h2 class="title teach__title">
      <span class="subtitle">
        our main directions
      </span>
      What do we teach
    </h2>
    <ul class="teach__inner">
      <li class="teach__item">
        <article class="courses-card courses-card--marketing teach__card">
          <img class="courses-card__img teach__img" src="../../../images/teach/1.jpg" alt="marketing" width="390"
            height="200">
          <div class="courses-card__info teach__info">
            <p class="courses-card__title teach__text">
              Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra
              scelerisque consequat.
            </p>
            <a class="teach__check" href="courses.html">
              Check courses
            </a>
          </div>
        </article>
      </li>
      <li class="teach__item">
        <article class="courses-card courses-card--management teach__card">
          <img class="courses-card__img teach__img" src="../../../images/teach/2.jpg" alt="management" width="390"
            height="200">
          <div class="courses-card__info teach__info">
            <p class="courses-card__title teach__text">
              Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra
              scelerisque consequat.
            </p>
            <a class="teach__check" href="courses.html">
              Check courses
            </a>
          </div>
        </article>
      </li>
      <li class="teach__item">
        <article class="courses-card courses-card--recruting teach__card">
          <img class="courses-card__img teach__img" src="../../../images/teach/3.jpg" alt="recruting" width="390"
            height="200">
          <div class="courses-card__info teach__info">
            <p class="courses-card__title teach__text">
              Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra
              scelerisque consequat.
            </p>
            <a class="teach__check" href="courses.html">
              Check courses
            </a>
          </div>
        </article>
      </li>
      <li class="teach__item">
        <article class="courses-card courses-card--design teach__card">
          <img class="courses-card__img teach__img" src="../../../images/teach/4.jpg" alt="design" width="390"
            height="200">
          <div class="courses-card__info teach__info">
            <p class="courses-card__title teach__text">
              Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra
              scelerisque consequat.
            </p>
            <a class="teach__check" href="courses.html">
              Check courses
            </a>
          </div>
        </article>
      </li>
      <li class="teach__item">
        <article class="courses-card courses-card--development teach__card">
          <img class="courses-card__img teach__img" src="../../../images/teach/5.jpg" alt="development" width="390"
            height="200">
          <div class="courses-card__info teach__info">
            <p class="courses-card__title teach__text">
              Odio posuere netus quisque faucibus lectus arcu donec. Eget dictum eu viverra faucibus. Viverra
              scelerisque consequat.
            </p>
            <a class="teach__check" href="courses.html">
              Check courses
            </a>
          </div>
        </article>
      </li>
      <li class="teach__item">
        <article class="courses-card courses-card--development teach__card teach__card--more">
          <span class="teach__more">
            New studying program coming soon...
          </span>
        </article>
      </li>
    </ul>
  </div>
</section>