@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;     
  src: url('../fonts/Lato-Regular.woff2') format('woff2'),
       url('../fonts/Lato-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;     
  src: url('../fonts/Lato-Bold.woff2') format('woff2'),
       url('../fonts/Lato-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;     
  src: url('../fonts/Lato-Black.woff2') format('woff2'),
       url('../fonts/Lato-Black.woff') format('woff');
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;     
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
       url('../fonts/Roboto-Regular.woff') format('woff');
  font-display: swap;
}