<section class="about">
  <div class="container">
    <div class="about__inner" style="background-image: url('../../../images/main/about-bg.png');">
      <h1 class="sr-only">About us</h1>
      <div class="about__info">
        <h2 class="title about__title">
          <span class="subtitle">
            About us
          </span>
          Createx Online School
        </h2>
        <div class="about__heading">
          Createx Online School is a leader in online studying. We have lots of courses and programs from the main
          market experts.
        </div>
        <div class="about__text">
          <p>
            We provide relevant approaches to online learning, internships and employment in the largest companies
            in the country. Our educational programs help you get a new specialty from scratch. During your studies, we
            will help you find a job. Check the courses and online events that we organise.
          </p>
        </div>
        <div class="about__btn">
          <a class="link-white link-white-l about__link-white-l" href="events.html">
            Explore events
          </a>
          <a class="link link-l about__link-l" href="courses.html">
            Browse courses
          </a>
        </div>
      </div>
    </div>
  </div>
</section>