<section class="jobs">
  <div class="container">
    <h2 class="title jobs__title">
      <span class="subtitle">
        best jobs for you
      </span>
      Our students work here
    </h2>
    <ul class="jobs__inner">
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/1.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/2.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/3.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/4.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/5.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/1.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/7.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/8.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/9.png" alt="logo by jobs" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/10.png" alt="logo by josb" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/11.png" alt="logo by josb" width="120" height="64">
        </a>
      </li>
      <li class="jobs__item">
        <a class="jobs__link" href="#">
          <img class="jobs__img" src="../../../images/jobs/12.png" alt="logo by josb" width="120" height="64">
        </a>
      </li>
    </ul>
  </div>
</section>