<section class="section values">
  <div class="container">
    <h2 class="title values__title">
      <span class="subtitle">
        We always stand for
      </span>
      Our core values
    </h2>
    <ul class="values__list">
      <li class="values__item">
        <h3 class="values__heading values__heading--approach">
          Structured Approach
        </h3>
        <p class="values__text">
          Aenean urna dictum adipiscing nec, cras quisque. Nunc in mauris.
        </p>
      </li>
      <li class="values__item">
        <h3 class="values__heading values__heading--feedbacks">
          Professional Feedbacks
        </h3>
        <p class="values__text">
          Culpa nostrud commodo ea consequat reprehenderit aliquip.
        </p>
      </li>
      <li class="values__item">
        <h3 class="values__heading values__heading--efficiency">
          Efficiency
        </h3>
        <p class="values__text">
          Viverra scelerisque consequat net. Adipisicing esse consequat.
        </p>
      </li>
      <li class="values__item">
        <h3 class="values__heading values__heading--shedule">
          Flexible Shedule
        </h3>
        <p class="values__text">
          Aute eiusmod dolore dolore deserunt veniam ad deserunt.
        </p>
      </li>
    </ul>
  </div>
</section>