<footer class="footer">
  <nav class="footer__menu">
    <div class="container">
      <ul class="footer__list">

        <li class="footer__item">
          <a class="footer__logo" href="index.html">
            <img src="../../../images/logo-white.svg" alt="Logo" width="120" height="22">
          </a>
          <div class="footer__text">
            <p>
              Createx Online School is a leader in online studying. We have lots of courses and programs from the main
              market experts. We provide relevant approaches to online learning, internships and employment in the
              largest companies in the country.
            </p>
          </div>
          <ul class="footer__social social">
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                <span class="sr-only">
                  Перейти на нашу страницу в facebook
                </span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#twitter');">
                <span class="sr-only">
                  Перейти на нашу страницу в twitter
                </span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#youTube');">
                <span class="sr-only">
                  Перейти на нашу страницу в youTube
                </span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#telegram');">
                <span class="sr-only">
                  Перейти на нашу страницу в telegram
                </span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                <span class="sr-only">
                  Перейти на нашу страницу в instagram
                </span>
              </a>
            </li>
            <li class="social__item">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                <span class="sr-only">
                  Перейти на нашу страницу в linked-In
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">
            SITE MAP
          </h3>
          <ul class="footer__map">
            <li class="footer__items">
              <a class="footer__link" href="about.html">
                About Us
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href=" courses.html">
                Courses
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="events.html">
                Events
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="blog.html">
                Blog
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="contacts.html">
                Contacts
              </a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">
            COURSES
          </h3>
          <ul class="footer__courses">
            <li class="footer__items">
              <a class="footer__link" href="courses.html">
                Marketing
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="courses.html">
                Management
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="courses.html">
                HR & Recruting
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="courses.html">
                Design
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link" href="courses.html">
                Development
              </a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">
            CONTACT US
          </h3>
          <ul class="footer__contact">
            <li class="footer__items">
              <a class="footer__link footer__link--phone" href="tel:4055550128">
                (405) 555-0128
              </a>
            </li>
            <li class="footer__items">
              <a class="footer__link footer__link--email" href="mailto:hello@createx.com">
                hello@createx.com
              </a>
            </li>
          </ul>
        </li>

        <li class="footer__item">
          <h3 class="footer__title">
            SIGN UP TO OUR NEWSLETTER
          </h3>
          <form class="footer__form" action="">
            <label class="footer__label" for="email">
              <input class="footer__input" type="email" placeholder="Email address">
              <button class="footer__btn" type="submit"></button>
            </label>
            <span class="footer__descr">
              *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.
            </span>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="footer__bottom">
    <div class="container">
      <div class="footer__copy">
        <div class="footer__copyrights">
          © All rights reserved.Made with
          <a class="footer__heart" href="#">
            by Createx Studio
          </a>
        </div>
        <a class="footer__top" href="#body">
          GO TO TOP
      </div>
      </a>
    </div>
  </div>
</footer>