<section class="subscribe">
  <div class="container">
    <h2 class="title subscribe__title">
      <span class="subtitle">
        Don’t miss anything
      </span>
      Subscribe to the Createx School announcements
    </h2>
    <form action="">
      <label class="sr-only" for="email">
        Введите свой email
      </label>
      <input class="input-email subscribe__input-email" type="email" id="email" name="email"
        placeholder="Your working email" required="required">
      <button class="link link-l" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</section>