<section class="about">
  <div class="container">
    <div class="about__inner">
      <div class="about__info">
        <h2 class="title about__titles">
          About the course
        </h2>
        <div class="about__text">
          <p>
            Bibendum vulputate adipiscing venenatis at est, a eu tincidunt. Leo aenean congue in sagittis, felis
            maecenas amet varius at. Pellentesque euismod in faucibus at elementum. Tellus maecenas libero est tempus
            sit cras at malesuada diam. Consequat senectus dictumst non hac dignissim montes, pretium, egestas molestie.
            Sed magna aliquet ornare nibh vel lectus diam eget pretium. Lorem risus nunc tincidunt tortor, mi nulla
            pellentesque
          </p>
        </div>
        <div class="about__subtitle">
          You will learn:
        </div>
        <ul class="about__list">
          <li class="about__item">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>
          <li class="about__item">
            Vulputate placerat amet pulvinar lorem nisl.
          </li>
          <li class="about__item">
            Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
          </li>
          <li class="about__item">
            Etiam duis lobortis in fames ultrices commodo nibh.
          </li>
          <li class="about__item">
            Fringilla in nec risus congue venenatis pretium posuere nec.
          </li>
          <li class="about__item">
            Cursus eu pretium, vulputate tempus quam massa sed at.
          </li>
        </ul>
      </div>

      <div class="about__block">
        <ul class="about__items">
          <li class="about__box">
            <span class="about__heading">
              Dates
            </span>
            <span class="about__time-price">
              Sept 7 – Nov 2
            </span>
            <div class="about__descr">
              <p>
                Metus turpis sit lorem lacus, in elit tellus lacus.
              </p>
            </div>
          </li>
          <li class="about__box">
            <span class="about__heading">
              Duration
            </span>
            <span class="about__time-price">
              2 months – 8 lessons
            </span>
            <div class="about__descr">
              <p>
                Rhoncus pellentesque auctor auctor orci vulputate faucibus quis ut.
              </p>
            </div>
          </li>
          <li class="about__box">
            <span class="about__heading">
              Price
            </span>
            <span class="about__time-price">
              $120 per month
            </span>
            <div class="about__descr">
              <p>
                Nulla sem adipiscing adipiscing felis fringilla. Adipiscing mauris quam ac elit tristique dis.
              </p>
            </div>
          </li>
        </ul>
        <a class="link link-r about__link" href="#">
          Join the course
        </a>
      </div>
    </div>
  </div>
</section>