<section class="register">
  <div class="container">
    <div class="register__inner" style="background-image: url('images/main/register-bg.png');">
      <div class="register__info">
        <h2 class="title register__title">
          <span class="subtitle">
            Leave a request now and get 20% off!
          </span>
          Register for the course
        </h2>
        <form class="register__form" action="">
          <ul class="register__list">
            <li class="register__block">
              <span class="sr-only">
                Введите вашу имя
              </span>
              <label class="label register__label" for="name">
                Full name
              </label>
              <input class="input-name register__input" type="name" id="name" name="name" placeholder="Your full name"
                required="required">
            </li>
            <li class="register__block">
              <span class="sr-only">
                Введите свой email
              </span>
              <label class="label register__label" for="email">
                Email
              </label>
              <input class="input-email register__input" type="email" id="email" name="email"
                placeholder="Your working email" required="required">
            </li>
            <li class="register__block">
              <span class="sr-only">
                Введите свой номер телефона
              </span>
              <label class="label register__label" for="phone">
                Phone
              </label>
              <input class="input-phone register__input" type="phone" id="phone" name="phone"
                placeholder="Your phone number" required="required">
            </li>
          </ul>
          <button class="link link-l register__link" type="submit">
            Join the course
          </button>
        </form>
      </div>
    </div>
  </div>
</section>