<section class="reviews">
  <div class="container">
    <h2 class="title reviews__title">
      <span class="subtitle">
        TESTIMONIALS
      </span>
      What our students say
    </h2>
    <ul class="reviews__inner">
      <li class="reviews__item">
        <figure class="reviews__figure">
          <blockquote class="reviews__blockquote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </blockquote>
          <div class="reviews__descr">
            <img class="reviews__img" src="../../../images/main/reviews-1.png" alt="Photo by Eleanor Pena" width="72"
              height="72">
            <figcaption class="reviews__name">
              Eleanor Pena
              <cite class="reviews__profession">
                Position, Course
              </cite>
            </figcaption>
          </div>
        </figure>
      </li>
      <li class="reviews__item">
        <figure class="reviews__figure">
          <blockquote class="reviews__blockquote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </blockquote>
          <div class="reviews__descr">
            <img class="reviews__img" src="../../../images/main/reviews-1.png" alt="Photo by Eleanor Pena" width="72"
              height="72">
            <figcaption class="reviews__name">
              Eleanor Pena
              <cite class="reviews__profession">
                Position, Course
              </cite>
            </figcaption>
          </div>
        </figure>
      </li>
      <li class="reviews__item">
        <figure class="reviews__figure">
          <blockquote class="reviews__blockquote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </blockquote>
          <div class="reviews__descr">
            <img class="reviews__img" src="../../../images/main/reviews-1.png" alt="Photo by Eleanor Pena" width="72"
              height="72">
            <figcaption class="reviews__name">
              Eleanor Pena 2
              <cite class="reviews__profession">
                Position, Course
              </cite>
            </figcaption>
          </div>
        </figure>
      </li>
      <li class="reviews__item">
        <figure class="reviews__figure">
          <blockquote class="reviews__blockquote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </blockquote>
          <div class="reviews__descr">
            <img class="reviews__img" src="../../../images/main/reviews-1.png" alt="Photo by Eleanor Pena" width="72"
              height="72">
            <figcaption class="reviews__name">
              Eleanor Pena 3
              <cite class="reviews__profession">
                Position, Course
              </cite>
            </figcaption>
          </div>
        </figure>
      </li>
      <li class="reviews__item">
        <figure class="reviews__figure">
          <blockquote class="reviews__blockquote">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
          </blockquote>
          <div class="reviews__descr">
            <img class="reviews__img" src="../../../images/main/reviews-1.png" alt="Photo by Eleanor Pena" width="72"
              height="72">
            <figcaption class="reviews__name">
              Eleanor Pena 4
              <cite class="reviews__profession">
                Position, Course
              </cite>
            </figcaption>
          </div>
        </figure>
      </li>
    </ul>
  </div>
</section>