<section class="team">
  <div class="container">
    <h2 class="title team__title">
      <span class="subtitle">
        Best tutors are all here
      </span>
      Meet our team
    </h2>
    <ul class="team__inner">
      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/1.png" alt="Ptoho by Dianne Russell" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Dianne Russell в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Dianne Russell в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Dianne Russell в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Dianne Russell
            <cite class="team__profesion">
              Founder and CEO
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/2.png" alt="Ptoho by  Jerome Bell" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Jerome Bell в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Jerome Bell в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Jerome Bell в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Jerome Bell
            <cite class="team__profesion">
              Founder and Program Director
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/3.png" alt="Ptoho by Kristin Watson" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Kristin Watson в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Kristin Watson в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Kristin Watson в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Kristin Watson
            <cite class="team__profesion">
              Marketer, Curator of Marketing Course
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/4.png" alt="Ptoho by Marvin McKinney" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Marvin McKinney в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Marvin McKinney в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Marvin McKinney в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Marvin McKinney
            <cite class="team__profesion">
              PM, Curator of Management Course
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/5.png" alt="Ptoho by Leslie Alexander Li" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Leslie Alexander Li в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Leslie Alexander Li в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Leslie Alexander Li в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Leslie Alexander Li
            <cite class="team__profesion">
              Curator of HR & Recruting Course
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/6.png" alt="Ptoho by Kathryn Murphy" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Kathryn Murphy в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Kathryn Murphy в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Kathryn Murphy в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Kathryn Murphy
            <cite class="team__profesion">
              Analyst and Marketing specialist
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/7.png" alt="Ptoho by Brooklyn Simmons" width="245"
              height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Brooklyn Simmons в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Brooklyn Simmons в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Brooklyn Simmons в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Brooklyn Simmons
            <cite class="team__profesion">
              Curator of Development Course
            </cite>
          </figcaption>
        </figure>
      </li>

      <li class="team__item">
        <figure class="team__figure">
          <div class="team__image">
            <img class="team__img" src="../../../images/team/8.png" alt="Ptoho by Cody Fisher" width="245" height="320">
            <ul class="team__social socials">
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на страницу Cody Fisher в facebook
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#instagram');">
                  <span class="sr-only">
                    Перейти на страницу Cody Fisher в instagram
                  </span>
                </a>
              </li>
              <li class="socials__item">
                <a class="socials__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на страницу Cody Fisher в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <figcaption class="team__name">
            Cody Fisher
            <cite class="team__profesion">
              UX Designer, Curator of Design Course
            </cite>
          </figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>