<section class="like">
  <div class="container">
    <h2 class="title like__title">
      <span class="subtitle">
        Our blog
      </span>
      You may also like
    </h2>
    <ul class="blog like__blog">
      <li class="blog__item blog__item--podcast mix category-podcasts">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/1.jpg" alt="Marketing photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Marketing
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              September 4, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              36 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            What is traffic arbitrage and does it really make money?
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida. Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="#">
          Listen
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/5.jpg" alt="Development photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Development
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              September 1, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            How to choose the first programming language for a beginner
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Turpis sed at magna laoreet gravida consequat tortor placerat. Gravida vitae aliquet enim egestas dui...
          </p>
        </div>
        <a class="blog__more" href="#">
          Watch
        </a>
      </li>
      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/3.jpg" alt="Design photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Design
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 8, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            Should you choose a creative profession if you are attracted to creativity?
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices.
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="#">
          Read
        </a>
      </li>

      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/4.jpg" alt="Recruting photo" width="810" height="305">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              HR & Recruting
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 3, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            HR statistics: job search, interviews, hiring and recruiting
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Massa, lectus nibh consectetur aliquet nunc risus aenean. Leo hac netus bibendum diam adipiscing aenean
            nisl. Molestie nullam ante mattis ac sit vitae pellentesque mi etiam. Morbi commodo tempor, massa vivamus. A
            molestie id semper fermentum pretium...
          </p>
        </div>
        <a class="blog__more" href="#">
          Read
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/2.jpg" alt="Management photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Management
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 25, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              45 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            What to do and who to talk to if you want to get feedback on the product
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus.
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="#">
          Watch
        </a>
      </li>

      <li class="blog__item blog__item--podcast mix category-podcasts">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/6.jpg" alt="Design photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Design
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 28, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              36 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            What are color profiles and how they work in graphic design
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Aliquam vulputate hendrerit quam sollicitudin urna enim viverra gravida. Consectetur urna arcu eleifend...
          </p>
        </div>
        <a class="blog__more" href="#">
          Listen
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/7.jpg" alt="Management photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Management
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 15, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              45 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            Startup: how to build a team that will live longer than a year
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Nisi, massa ut sit faucibus et diam. Faucibus at malesuada at justo scelerisque in nisi, urna...
          </p>
        </div>
        <a class="blog__more" href="#">
          Watch
        </a>
      </li>

      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="#">
          <img class="blog__img" src="images/blog/8.jpg" alt="Marketing photo" width="705" height="305">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Marketing
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 9, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="#">
          <h3 class="blog__heading">
            How to get customers to love your business from the start
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Malesuada in augue mi feugiat morbi a aliquet enim. Elementum lacus, pellentesque etiam arcu tristique ac...
          </p>
        </div>
        <a class="blog__more" href="#">
          Read
        </a>
      </li>
    </ul>
    <div class="like__btn">
      <span class="like__more">
        Do you want more articles, podcasts and videos?
      </span>
      <a class="link link-l" href="blog.html">
        Go to blog
      </a>
    </div>
  </div>
</section>