<section class="recruting">
  <div class="container">
    <div class="recruting__inner">

      <div class="recruting__content">

        <div class="recruting__top">
          <ul class="breadcrumbs">
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__type breadcrumbs__type--article" href="#">
                Article
              </a>
            </li>
            <li class="breadcrumbs__item">
              <a class="breadcrumbs__link breadcrumbs__link--active" href="#">
                HR & Recruting
              </a>
            </li>
          </ul>

          <button class="filter-btn" type="button">
            <span class="sr-only">Открыть фильтр продуктов</span>
          </button>
        </div>



        <h1 class="title recruting__title">
          HR statistics: job search, interviews, hiring and recruiting
        </h1>

        <div class="recruting__box">
          <ul class="recruting__list">
            <li class="recruting__descr">
              <a class="recruting__link recruting__link--calendar" href="#">
                August 3, 2020
              </a>
            </li>
            <li class="recruting__descr">
              <a class="recruting__link recruting__link--clock" href="#">
                4 min read
              </a>
            </li>
          </ul>

          <div class="recruting__block">
            <span class="recruting__follow">
              Share:
            </span>
            <ul class="social">
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на нашу страницу в facebook
                  </span>
                </a>
              </li>
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#twitter');">
                  <span class="sr-only">
                    Перейти на нашу страницу в twitter
                  </span>
                </a>
              </li>
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на нашу страницу в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <img class="recruting__img" src="images/blog/4.jpg" alt="Recruting photo" width="810" height="360">

        <div class="recruting__text">
          <h2>
            Vulputate vitae pellentesque scelerisque luctus consequat mattis pellentesque dui odio. Interdum aenean sit
            malesuada ornare sed gravida rhoncus, congue. Purus auctor nullam diam quis est hendrerit ac euismod.
          </h2>
          <p>
            At facilisi sapien posuere eget nunc senectus proin nullam. Tortor senectus in et sagittis, vitae diam cras
            dignissim. Varius adipiscing eget diam nisi. Orci, consectetur vulputate metus ornare pharetra, neque,
            fermentum. Vel nec rhoncus, non nunc, neque in massa. Feugiat leo nam nisl lacinia amet, odio. Mi varius
            viverra risus vel.
          </p>
          <p>
            Amet, morbi sed pharetra, elit eget mi potenti. Condimentum orci interdum feugiat lectus libero duis. Nisl
            massa, elementum varius sit. Nunc felis, porttitor aliquam urna, accumsan et sed. Aliquet non sed duis diam
            vehicula rhoncus. In dictum nullam tincidunt semper pellentesque purus morbi sed. Ut aliquet velit pharetra,
            nisi nunc, non.
          </p>
          <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis
            fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue
            tortor in tot euismod vulputate etiam eros. Vel accumsan at elit neque, ipsum.
          </blockquote>
          <p>
            Mauris amet arcu nisl vel dictum tellus. Sed rhoncus, ut sed id ut erat mattis. Vitae mus blandit in neque
            amet non fringilla blandit:
          </p>
          <ul>
            <li>
              A fermentum in morbi pretium aliquam adipiscing donec tempus.
            </li>
            <li>
              Vulputate placerat amet pulvinar lorem nisl.
            </li>
            <li>
              Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
            </li>
            <li>
              Etiam duis lobortis in fames ultrices commodo nibh.
            </li>
          </ul>
          <p>
            Enim, vel massa odio diam. Blandit massa gravida feugiat elementum id nec sed leo. Nisi in ornare lectus
            eget. Urna, risus, consectetur volutpat lorem purus. Velit aliquet nibh vitae maecenas. Consectetur neque ut
            aliquam eros, purus enim dignissim aenean vitae. Ultrices fames augue mattis tortor est justo, pharetra nibh
            risus. Facilisi at porttitor volutpat natoque proin amet, nulla. Vivamus ut lobortis sagittis curabitur
            tellus convallis eget netus vitae.
          </p>
        </div>

        <div class="recruting__box">
          <div class="recruting__tags">
            <span>Tags:</span>
            <ul>
              <li>
                <a href="#">#learning</a>
              </li>
              <li>
                <a href="#">#HR</a>
              </li>
              <li>
                <a href="#">#self-development</a>
              </li>
            </ul>
          </div>

          <div class="recruting__block">
            <span class="recruting__follow">
              Share:
            </span>
            <ul class="social">
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#facebook');">
                  <span class="sr-only">
                    Перейти на нашу страницу в facebook
                  </span>
                </a>
              </li>
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#twitter');">
                  <span class="sr-only">
                    Перейти на нашу страницу в twitter
                  </span>
                </a>
              </li>
              <li class="social__item recruting__social-item">
                <a class="social__link recruting__social-link" href="#"
                  style=" -webkit-mask-image: url('images/sprite.svg#linked-In');">
                  <span class="sr-only">
                    Перейти на нашу страницу в linked-I
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>



      <div class="recruting__aside aside">
        <button class="close-btn" type="button">
          <span class="sr-only">Закртить фильтр</span>
        </button>

        <ul class="aside__inner">

          <li class="aside__item">
            <form class="aside__form" action="#">
              <label class="search" for="search">
                <input class="search__input" type="text" id="search" name="search" placeholder="Search course...">
                <button class="search__btn" type="submit"></button>
                <span class="sr-only">
                  Поиск курса
                </span>
              </label>
            </form>
          </li>

          <li class="aside__item">
            <h2 class="aside__title">
              Author
            </h2>
            <div class="aside__box">
              <img class="aside__img" src="images/blog/author.jpg" alt="Photo by Kristin Watson" width="100"
                height="100">
              <div class="aside__info">
                <a class="aside__link" href="course.html">
                  <h3 class="aside__heading">
                    Kristin Watson
                  </h3>
                </a>
                <span class="aside__subtitle">
                  Curator of Marketing Course
                </span>
                <ul class="social">
                  <li class="social__item recruting__social-item">
                    <a class="social__link recruting__social-link" href="#"
                      style=" -webkit-mask-image: url('images/sprite.svg#instagram');">
                      <span class="sr-only">
                        Перейти на нашу страницу в instagram
                      </span>
                    </a>
                  </li>
                  <li class="social__item recruting__social-item">
                    <a class="social__link recruting__social-link" href="#"
                      style=" -webkit-mask-image: url('images/sprite.svg#twitter');">
                      <span class="sr-only">
                        Перейти на нашу страницу в twitter
                      </span>
                    </a>
                  </li>
                  <li class="social__item recruting__social-item">
                    <a class="social__link recruting__social-link" href="#"
                      style=" -webkit-mask-image: url('images/sprite.svg#linked-In');">
                      <span class="sr-only">
                        Перейти на нашу страницу в linked-I
                      </span>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </li>

          <li class="aside__item">
            <h2 class="aside__title">
              Trending Articles
            </h2>
            <ul class="aside__list">
              <li class="aside__box">
                <img class="aside__img" src="images/blog/1-small.jpg" alt="Articles" width="100" height="100">
                <div class="aside__info">
                  <a class="recruting__link recruting__link--calendar" href="#">
                    September 4, 2020
                  </a>
                  <a class="aside__link" href="#">
                    <h3 class="aside__topic">
                      What is traffic arbitrage and does it really make money?
                    </h3>
                  </a>
                </div>
              </li>

              <li class="aside__box">
                <img class="aside__img" src="images/blog/2-small.jpg" alt="Articles" width="100" height="100">
                <div class="aside__info">
                  <a class="recruting__link recruting__link--calendar" href="#">
                    July 15, 2020
                  </a>
                  <a class="aside__link" href="#">
                    <h3 class="aside__topic">
                      Startup: how to build a team that will live longer than a year
                    </h3>
                  </a>
                </div>
              </li>

              <li class="aside__box">
                <img class="aside__img" src="images/blog/3-small.jpg" alt="Articles" width="100" height="100">
                <div class="aside__info">
                  <a class="recruting__link recruting__link--calendar" href="#">
                    August 2, 2020
                  </a>
                  <a class="aside__link" href="#">
                    <h3 class="aside__topic">
                      What to do if you want to get feedback on the product
                    </h3>
                  </a>
                </div>
              </li>
            </ul>
          </li>

          <li class="aside__item">
            <h2 class="aside__title">
              Tags
            </h2>
            <form class="aside__form" action="#">
              <input class="aside__input" type="checkbox" id="marketing" name="marketing" value="marketing">
              <label class="aside__label" for="marketing">
                #marketing
              </label>

              <input class="aside__input" type="checkbox" id="recruiting" name="recruiting" value="recruiting">
              <label class="aside__label" for="recruiting">
                #recruiting
              </label>

              <input class="aside__input" type="checkbox" id="coding" name="coding" value="coding">
              <label class="aside__label" for="coding">
                #coding
              </label>

              <input class="aside__input" type="checkbox" id="learning" name="learning" value="learning">
              <label class="aside__label" for="learning">
                #learning
              </label>

              <input class="aside__input" type="checkbox" id="HR" name="HR" value="HR">
              <label class="aside__label" for="HR">
                #HR
              </label>

              <input class="aside__input" type="checkbox" id="self-development" name="self-development"
                value="self-development">
              <label class="aside__label" for="self-development">
                #self-development
              </label>
            </form>
          </li>
        </ul>
      </div>


    </div>
  </div>
</section>