<section class="section benefits">
  <div class="container">
    <h2 class="title benefits__title">
      <span class="subtitle">
        Our benefits
      </span>
      That's how we do it
    </h2>
    <ul class="benefits__tab">
      <li class="benefits__item">
        <a class="benefits__link benefits__link--active" href="#tutors">
          <span class="benefits__headline benefits__headline--tutors">
            Experienced Tutors
          </span>
        </a>
      </li>
      <li class="benefits__item">
        <a class="benefits__link" href="#feedback">
          <span class="benefits__headline benefits__headline--feedback">
            Feedback & Support
          </span>
        </a>
      </li>
      <li class="benefits__item">
        <a class="benefits__link" href="#online">
          <span class="benefits__headline benefits__headline--online">
            24/7 Online Library
          </span>
        </a>
      </li>
      <li class="benefits__item">
        <a class="benefits__link" href="#community">
          <span class="benefits__headline benefits__headline--community">
            Community
          </span>
        </a>
      </li>
    </ul>
    <ul class="benefits__content">
      <li id="tutors" class="benefits__descr benefits__descr--active"
        style="background-image: url(images/main/benifits.png);">
        <div class="benefits__box">
          <h3 class="benefits__name">
            Only practicing tutors
          </h3>
          <div class="benefits__text">
            <p>
              Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras
              massa
              ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis
              vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            </p>
          </div>
        </div>
      </li>
      <li id="feedback" class="benefits__descr" style="background-image: url(images/main/benifits.png);">
        <div class="benefits__box">
          <h3 class="benefits__name">
            Feedback & Support
          </h3>
          <div class="benefits__text">
            <p>
              Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras
              massa
              ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa.
            </p>
          </div>
        </div>
      </li>
      <li id="online" class="benefits__descr" style="background-image: url(images/main/benifits.png);">
        <div class="benefits__box">
          <h3 class="benefits__name">
            24/7 Online Library
          </h3>
          <div class="benefits__text">
            <p>
              Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras
              massa
              ut dolor quis sociis mollis augue.
            </p>
          </div>
        </div>
      </li>
      <li id="community" class="benefits__descr" style="background-image: url(images/main/benifits.png);">
        <div class="benefits__box">
          <h3 class="benefits__name">
            Community
          </h3>
          <div class="benefits__text">
            <p>
              Urna nisi, arcu cras nunc. Aenean quam est lobortis mi non fames dictum suspendisse. Morbi mauris cras
              massa
              ut dolor quis sociis mollis augue. Nunc, sodales tortor sit diam mi amet massa. Fermentum diam diam sociis
              vestibulum. Nulla nisl accumsan, id dignissim massa ut amet. Amet enim, nisi tempus vehicula.
            </p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>