<section class="section createx">
  <div class="container">
    <div class="createx__inner" style="background-image: url(../../../images/createx-bg.jpg);">
      <div class="createx__info">
        <h2 class="title createx__title">
          <span class="subtitle">
            Who we are
          </span>
          Why Createx?
        </h2>
        <ul class="createx__list">
          <li class="createx__item">
            A fermentum in morbi pretium aliquam adipiscing donec tempus.
          </li>
          <li class="createx__item">
            Vulputate placerat amet pulvinar lorem nisl.
          </li>
          <li class="createx__item">
            Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.
          </li>
          <li class="createx__item">
            Etiam duis lobortis in fames ultrices commodo nibh.
          </li>
          <li class="createx__item">
            Tincidunt sagittis neque sem ac eget.
          </li>
          <li class="createx__item">
            Ultricies amet justo et eget quisque purus vulputate dapibus tortor.
          </li>
        </ul>
        <a class="link link-r" href="#">
          More about us
        </a>
      </div>
    </div>
  </div>
</section>