<section class="hero">
  <div class="container">
    <div class="hero__inner" style=" background-image: url(../../../images/hero/illustration.png);">
      <div class="hero__content">
        <a class="video hero__video" data-fancybox="video-gallery" href="https://youtu.be/WY8sDvZdWEA">
          Play showreel
        </a>
        <h1 class="hero__title">
          Enjoy studying with Createx Online Courses
        </h1>
        <div class="hero__btn">
          <a class="link-white link-white-l hero__white-l" href="about.html">
            About us
          </a>
          <a class="link link-l hero__link-l" href="courses.html">
            Explore courses
          </a>
        </div>
      </div>
      <ul class="hero__list">
        <li class="hero__item">
          <span class="hero__num">
            1200
          </span>
          Students graduated
        </li>
        <li class="hero__item">
          <span class="hero__num">
            84
          </span>
          Completed courses
        </li>
        <li class="hero__item">
          <span class="hero__num">
            16
          </span>
          Qualified tutors
        </li>
        <li class="hero__item">
          <span class="hero__num">
            5
          </span>
          Years of experience
        </li>
      </ul>

    </div>
  </div>
</section>