.workshops {
  padding: 80px 0;
  position: relative;
  background-image: url(../images/main/lectures-bg.jpg);
  z-index: 1;

  &::before {
    @include pseudo;
    width: 116px;
    height: 159px;
    bottom: 0;
    background-image: url(../images/main/dots.png);
    background-repeat: no-repeat;
    z-index: -1;
  }

  &::after {
    @include pseudo;
    width: 284px;
    height: 284px;
    top: -133px;
    right: -60px;
    background-image: url(../images/main/circles.png);
    background-repeat: no-repeat;
    z-index: -1;
  }

  @include r($r-md) {
    padding: 50px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    @include r($r-md) {
      margin-bottom: 30px;
    }
  }

  &__btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  &__more {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    color: $c-title;
    margin-right: 40px;

    @include r($r-sm) {
      margin-right: 0;
      font-size: 20px;
    }
  }
}

.lectures {
  margin-bottom: 60px;

  @include r($r-sm) {
    margin-bottom: 30px;
  }

  &--active {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    @include r($r-lg) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include r($r-sm) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }

  &__item {
    background-color: $c-white;
    border-radius: 4px;
    padding: 32px 40px;
    display: flex;
    align-items: flex-start;
    transition: box-shadow 0.3s linear;

    &:not(:last-child) {
      margin-bottom: 24px;
    }

    &:hover {
      box-shadow: 0 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
    }

    &--active {
      display: flex !important;
      flex-direction: column;
      max-width: 390px;
      height: 323px;
      width: 100%;
      padding: 24px;

      &:not(:last-child) {
        margin-bottom: 0;
      }

      .lectures__time {
        display: none;

        &--grid {
          display: block;
        }
      }

      .lectures__heading {
        font-size: 18px;
        margin-right: 0;
        margin-bottom: 5px;
      }

      .lectures__link-white {
        max-width: 100%;
        text-align: center;
        margin-top: auto;
      }
    }

    @include r($r-md) {
      display: flex;
      flex-direction: column;
      max-width: 390px;
      min-height: 323px;
      border: 1px solid #E5E8ED;
      width: 100%;
      padding: 24px;
      margin: 0 auto;

      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }
  }

  &__time {
    display: flex;
    margin-right: 40px;
    max-width: 180px;
    width: 100%;

    &--grid {
      display: none;

      .lectures__num {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.5;
        margin-bottom: 4px;
      }

      .lectures__clock {
        margin-bottom: 20px;
      }
    }
  }

  &__num {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.3;
    margin-right: 20px;
    color: $c-primary;
  }

  &__month {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: $c-title;
  }

  &__clock {
    color: $c-gray-700;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }

  &__link {
    outline: transparent;
    display: block;
  }

  &__heading {
    margin-right: 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    color: $c-title;
    margin-right: 40px;

    @include r($r-md) {
      font-size: 18px;
      margin-right: 0;
      margin-bottom: 5px;
    }

    @include r($r-sm) {
      font-size: 16px;
    }
  }

  &__type {
    display: block;
    margin-top: 4px;
    color: $c-gray-700;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
  }

  &__link-white {
    margin-left: auto;
    max-width: 136px;
    width: 100%;

    @include r($r-md) {
      max-width: 100%;
      text-align: center;
      margin-top: auto;
    }
  }
}