.certificate {
  padding-top: 120px;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    max-width: 397px;
  }

  &__title {
    margin-bottom: 48px;
  }

  &__text {
    display: block;
    margin-bottom: 32px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {}

  &__img {}

  &__image {}
}