.footer {

  &__menu {
    background-color: $c-title;
    padding: 80px 0 60px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    color: $c-white;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__logo {
    margin-bottom: 24px;
    display: inline-block;
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity 0.3s linear, border 0.3s linear;

    &:hover {
      opacity: 0.7;
    }

    &:focus {
      border: 1px solid $c-primary;
    }
  }

  &__title {
    margin-bottom: 24px;
    display: block;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__text {
    font-size: 12px;
    line-height: 1.5;
    opacity: 0.6;
    margin-bottom: 38px;
    max-width: 280px;
  }

  &__social {
    display: flex;
  }

  &__items {
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__link {
    opacity: 0.6;
    position: relative;
    outline: transparent;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: opacity 0.3s linear, color 0.3s linear, border 0.3s linear;

    &--phone,
    &--email {
      padding-left: 32px;

      &::before {
        @include pseudo;
        width: 24px;
        height: 24px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #fff;
        mask-repeat: no-repeat;
        transition: background-color 0.3s linear;
      }
    }

    &--phone {
      &::before {
        mask-image: url('../images/sprite.svg#iPhone');
      }
    }

    &--email {
      &::before {
        mask-image: url('../images/sprite.svg#mail');
      }
    }

    &:hover {
      opacity: 1;
      color: $c-danger;

      &::before {
        background-color: $c-danger;
      }
    }

    &:focus {
      border: 1px solid $c-danger;
    }
  }

  &__form {
    max-width: 286px;
  }

  &__label {
    position: relative;
  }

  &__input {
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    padding: 9px 12px;
    margin-bottom: 12px;
    color: $c-white;
    width: 100%;
    outline: transparent;
    transition: all 0.3s linear;

    &::placeholder {
      font-size: 12px;
      line-height: 1.5;
      color: $c-white;
      opacity: 0.6;
      transition: opacity 0.3s linear;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.22);
      border: 1px solid $c-danger;

      &::placeholder {
        opacity: 0.9;
      }

      &:focus {
        border: 1px solid $c-danger;
      }
    }
  }

  &__btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    background-color: $c-white;
    opacity: 0.6;
    mask-image: url('../images/sprite.svg#arrow-right');
    mask-repeat: no-repeat;
    transition: background-color 0.3s linear, opacity 0.3s linear;

    &:hover {
      background-color: $c-danger;
      opacity: 1;
    }
  }

  &__descr {
    font-size: 10px;
    line-height: 1.5;
    display: block;
  }

  &__bottom {
    padding: 20px 0;
    background-color: #292c37;
  }

  &__copy {
    color: $c-white;
    line-height: 1.5;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copyrights {
    font-size: 12px;
  }

  &__heart {
    position: relative;
    padding-left: 20px;
    text-decoration: underline transparent;
    transition: text-decoration 0.3s linear;

    &:hover {
      text-decoration: underline;
    }

    &::before {
      @include pseudo;
      width: 16px;
      height: 16px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(../../../images/icons/heart.svg);
    }
  }

  &__top {
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: opacity 0.3s linear;

    &:hover {
      opacity: 1;
    }
  }
}

.social {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 280px;

  &__item {
    width: 32px;
    height: 32px;
    background-color: #393c46;
    border-radius: 50%;
    display: flex;
    border: 1px solid transparent;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s linear;
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-right: 16px;
    }

    &:hover {
      background-color: $c-white;

      .social__link {
        background-color: $c-primary;
      }
    }

    &--contacts{
      background-color: transparent;

      .social__link{
        background-color:$c-gray-700;
      }
    }
  }
  
  &__link {
    position: relative;
    display: block;
    width: 24px;
    height: 24px;
    background-color: $c-white;
    mask-repeat: no-repeat;
    mask-position: center;
    transition: background-color 0.3s linear;
    mask-size: contain;
  }
}