.header {
  position: absolute;
  width: 100%;
  
  &--fixed{
    position: fixed;
    width: 100%;
    background-color: $c-white;
    z-index: 20;
    transition: background-color 0.4s linear;

  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-weight: 700;

  &__list {
    display: flex;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }

  &__link {
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.3s linear, color 0.3s linear;

    &:hover {
      color: $c-primary;
    }

    &:focus {
      border: 1px solid $c-primary;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__sign {
    position: relative;
    padding-left: 32px;
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.3s linear, color 0.3s linear;

    &::before {
      @include pseudo;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      mask-image: url(../../../images/icons/profile.svg);
      mask-position: center center;
      mask-size: cover;
      background-color: $c-default;
      transition: background-color 0.3s linear;
    }

    &:hover {
      color: $c-primary;

      &::before {
        background-color: $c-primary;
      }
    }

    &:focus {
      border: 1px solid $c-primary;
    }
  }

  &__link-l {
    margin-right: 36px;
  }
}

.logo {
  margin-right: 60px;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: opacity 0.3s linear, border 0.3s linear;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border: 1px solid $c-primary;
  }

}