.header {
  position: absolute;
  width: 100%;

  &--fixed {
    position: fixed;
    width: 100%;
    background-color: $c-white;
    z-index: 20;
    border-bottom: 1px solid $c-primary;
    box-shadow: 0px 20px 20px -10px rgba(255, 63, 58, 0.08), 0px 10px 14px -50px rgba(255, 63, 58, 0.05), 0px 12px 10px -6px rgba(255, 63, 58, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
    transition: background-color 0.4s linear;

    .menu {
      padding: 10px 0;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  padding: 20px 0;
  font-weight: 700;

  &__list {
    display: flex;

    @include r($r-lg) {
      position: absolute;
      background-color: #feddd0;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: 100vh;
      display: block;
      padding: 115px 0 50px;
      text-align: center;
      transform: translateY(-200%);
      z-index: 1;
      transition: transform 0.3s linear;
    }

    &--active {
      transform: translateY(0);
      overflow: scroll;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @include r($r-lg) {
        margin-right: 0;
      }
    }

    &--burger {
      display: none;

      @include r($r-sm) {
        display: block;
        margin: 20px 0;
      }
    }
  }

  &__link {
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.3s linear, color 0.3s linear;

    &--active {
      color: $c-primary;
    }

    &:hover {
      color: $c-primary;

      @include r($r-lg) {
        border-bottom: 1px solid $c-primary;
      }
    }

    &:focus {
      border: 1px solid $c-primary;
    }

    @include r($r-lg) {
      padding: 10px 0;
      display: block;
    }

    @include h($h-sm) {
      padding: 5px 0;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    margin-left: auto;
    z-index: 1;

    @include r($r-lg) {
      margin-right: 15px;
    }

    @include r($r-sm) {
      display: none;
    }
  }

  &__sign {
    position: relative;
    padding-left: 32px;
    outline: transparent;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: border 0.3s linear, color 0.3s linear;

    &::before {
      @include pseudo;
      width: 24px;
      height: 24px;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      mask-image: url(../images/icons/profile.svg);
      mask-position: center center;
      mask-size: cover;
      background-color: $c-default;
      transition: background-color 0.3s linear;
    }

    &:hover {
      color: $c-primary;

      &::before {
        background-color: $c-primary;
      }
    }

    &:focus {
      border: 1px solid $c-primary;
    }
  }

  &__link-l {
    margin-right: 36px;

    @include r($r-xl) {
      margin-right: 25px;
      padding: 0 24px;
      font-size: 12px;
    }

    @include r($r-sm) {
      margin-right: 0;
    }
  }
}

.logo {
  margin-right: 60px;
  outline: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
  z-index: 2;
  transition: opacity 0.3s linear, border 0.3s linear;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    border: 1px solid $c-primary;
  }

  @include r($r-xl) {
    margin-right: 40px;
  }
}


.burger {
  @include burger;
  display: none;
  z-index: 2;

  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: $burgerLineHeight;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: $burgerLineHeight;
    background-color: currentColor;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  }

  &::before {
    top: 0;
  }

  &::after {
    top: calc(100% - $burgerLineHeight);
  }

  &--active {

    .burger__line {
      transform: scale(0);
      transition: transform 0.3s ease-in-out;
    }


    &::before {
      transform: rotate(45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
      transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
    }
  }

  @include r($r-lg) {
    display: block;
  }

  @include r($r-sm) {
    margin-left: auto;
  }
}