.learn {
  margin-bottom: 120px;

  &__inner {
    background-repeat: no-repeat;
    background-position: right;
    min-height: 555px;
  }

  &__info {
    max-width: 600px;
    margin-right: 40px;
  }

  &__title {
    margin-bottom: 60px;
  }
}