.register {
  padding: 80px 0 100px;
  background-image: url(../../../images/main/team-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;

  &--request {
    background-image: none;
    padding: 0;
    margin-bottom: 120px;

    .register__inner {
      background-position: right center;
      min-height: 468px;
    }

    .register__info {
      margin-left: 0;
      max-width: 510px;
    }
  }

  &__inner {
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
    min-height: 550px;

    @include r($r-xl) {
      background-size: 0;
    }
  }

  &__info {
    max-width: 495px;
    margin-left: auto;

    @include r($r-xl) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__title {
    margin-bottom: 40px;
  }

  &__list {
    margin-bottom: 40px;
  }

  &__block {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__input {
    max-width: 495px;
    width: 100%;
  }

  &__link {
    max-width: 495px;
    width: 100%;
    margin-bottom: 24px;
  }

  &__comment {
    display: block;
  }
}