<section class="section discount">
  <div class="container">
    <div class="discount__inner">
      <div class="discount__top">
        <h2 class="title discount__title">
          20% discount for early birds!
        </h2>
        <ul class="discount__clock">
          <li class="discount__item">
            <span class="discount__num" id="day"></span>
            <div class="discount__text">Days</div>
          </li>
          <li class="discount__item">
            <span class="discount__num" id="hour"></span>
            <div class="discount__text">Hours</div>
          </li>
          <li class="discount__item">
            <span class="discount__num" id="minute"></span>
            <div class="discount__text">Minutes</div>
          </li>
          <li class="discount__item">
            <span class="discount__num" id="second"></span>
            <div class="discount__text">Seconds</div>
          </li>
        </ul>
      </div>

      <form class="discount__form" action="">
        <ul class="discount__list">
          <li class="discount__block">
            <span class="sr-only">
              Введите вашу имя
            </span>
            <label class="label" for="name">
              Full name
            </label>
            <input class="input-name discount__input" type="name" id="name" name="name" placeholder="Your full name"
              required="required">
          </li>
          <li class="discount__block">
            <span class="sr-only">
              Введите свой email
            </span>
            <label class="label" for="email">
              Email
            </label>
            <input class="input-email discount__input" type="email" id="email" name="email"
              placeholder="Your working email" required="required">
          </li>
          <li class="discount__block">
            <span class="sr-only">
              Введите свой номер телефона
            </span>
            <label class="label" for="phone">
              Phone
            </label>
            <input class="input-phone discount__input" type="phone" id="phone" name="phone"
              placeholder="Your phone number" required="required">
          </li>
        </ul>
        <button class="link link-r discount__link" type="submit">
          Join the course
        </button>
      </form>
    </div>
  </div>
</section>