<section class="like">
  <div class="container">
    <h2 class="title like__title">
      <span class="subtitle">
        Check other courses
      </span>
      You may also like
    </h2>
    <ul class="like__list">
      <li class="like__item">
        <article class="courses-card courses-card--marketing">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/1.jpg" alt="Photo by Jerome Bell" width="214"
              height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                The Ultimate Google Ads Training Course
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                100
              </span>
              <span class="courses-card__name">
                by Jerome Bell
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="like__item">
        <article class="courses-card courses-card--management">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/2.jpg" alt="Photo by Marvin McKinney"
              width="214" height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                Prduct Management Fundamentals
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                480
              </span>
              <span class="courses-card__name">
                by Marvin McKinney
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="like__item">
        <article class="courses-card courses-card--recruting">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/3.jpg" alt="Photo by Leslie Alexander Li"
              width="214" height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                HR Management and Analytics
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                200
              </span>
              <span class="courses-card__name">
                by Leslie Alexander Li
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="like__item">
        <article class="courses-card courses-card--marketing">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/4.jpg" alt="Photo  by Kristin Watson"
              width="214" height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                Brand Management & PR Communications
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                530
              </span>
              <span class="courses-card__name">
                by Kristin Watson
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="like__item">
        <article class="courses-card courses-card--management">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/5.jpg" alt="Photo by Dianne Russell" width="214"
              height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                Business Development Management
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                400
              </span>
              <span class="courses-card__name">
                by Dianne Russell
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="like__item">
        <article class="courses-card courses-card--design">
          <a class="courses-card__link" href="#">
            <img class="courses-card__img" src="../../../images/courses/6.jpg" alt="Photo by Guy Hawkins" width="214"
              height="214">
            <div class="courses-card__info">
              <h3 class="courses-card__title">
                Graphic Design Basic
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                500
              </span>
              <span class="courses-card__name">
                by Guy Hawkins
              </span>
            </div>
          </a>
        </article>
      </li>
    </ul>
    <div class="like__btn">
      <span class="like__more">
        Do you want more courses?
      </span>
      <a class="link link-l" href="courses.html">
        View all courses
      </a>
    </div>
  </div>
</section>