<section class="section steps">
  <div class="container">
    <h2 class="title steps__titles">
      <span class="subtitle">
        Main steps
      </span>
      Online learning process
    </h2>
    <ul class="steps__list">
      <li class="steps__item">
        <span class="steps__num">
          01
        </span>
        <h3 class="steps__title">
          Watching online video lectures
        </h3>
        <div class="steps__text">
          <p>
            Culpa nostrud commodo ea consequat aliquip reprehenderit. Veniam velit nostrud aliquip sunt.
          </p>
        </div>
      </li>
      <li class="steps__item">
        <span class="steps__num">
          02
        </span>
        <h3 class="steps__title">
          Passing test
        </h3>
        <div class="steps__text">
          <p>
            Anim reprehenderit sint voluptate exercitation adipisicing laborum adipisicing. Minim ad tempor est ea.
          </p>
        </div>
      </li>
      <li class="steps__item">
        <span class="steps__num">
          03
        </span>
        <h3 class="steps__title">
          Curator’s feedback
        </h3>
        <div class="steps__text">
          <p>
            Adipisicing esse aliqua aliquip qui amet. Aute eiusmod dolore dolore et ad et veniam ad deserunt.
          </p>
        </div>
      </li>
      <li class="steps__item">
        <span class="steps__num steps__num--display">
          04
        </span>
        <h3 class="steps__title">
          Corrections if needed
        </h3>
        <div class="steps__text">
          <p>
            Sit veniam aute dolore adipisicing nulla sit culpa. Minim mollit voluptate ullamco proident ea ad.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>