<section class="section contacts">
  <div class="container">
    <div class="contacts__inner">
      <h1 class="sr-only">
        Contacts
      </h1>
      <div class="contacts__info">
        <h2 class="title contacts__title">
          <span class="subtitle">
            Contact info
          </span>
          Get in touch
        </h2>
        <address class="contacts__address">
          <ul class="contacts__list">
            <li class="contacts__item contacts__item--email">
              <span class="contacts__heading">
                Talk to us:
              </span>
              <a class="contacts__link" href="mailto:hello@createx.com">
                hello@createx.com
              </a>
            </li>
            <li class="contacts__item contacts__item--phone">
              <span class="contacts__heading">
                Call us:
              </span>
              <a class="contacts__link" href="tel:4055550128">
                (405) 555-0128
              </a>
            </li>
            <li class="contacts__item contacts__item--address">
              <span class="contacts__heading">
                Address
              </span>
              <a class="contacts__link" href="#">
                2464 Royal Ln. Mesa, New Jersey 45463, USA
              </a>
            </li>
          </ul>
          <span class="contacts__follow">
            Follow us:
          </span>
          <ul class="social">
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#facebook');">
                <span class="sr-only">
                  Перейти на нашу страницу в facebook
                </span>
              </a>
            </li>
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#twitter');">
                <span class="sr-only">
                  Перейти на нашу страницу в twitter
                </span>
              </a>
            </li>
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#youTube');">
                <span class="sr-only">
                  Перейти на нашу страницу в youTube
                </span>
              </a>
            </li>
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#telegram');">
                <span class="sr-only">
                  Перейти на нашу страницу в telegram
                </span>
              </a>
            </li>
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#instagram');">
                <span class="sr-only">
                  Перейти на нашу страницу в instagram
                </span>
              </a>
            </li>
            <li class="social__item social__item--contacts">
              <a class="social__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#linked-In');">
                <span class="sr-only">
                  Перейти на нашу страницу в linked-I
                </span>
              </a>
            </li>
          </ul>
        </address>
      </div>
      <iframe class="contacts__iframe"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12260.819778773879!2d-75.2434056395476!3d39.80239443337464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6db9c0e0c7219%3A0xe7eaa9eb6c060de6!2sMt%20Royal%20Ln%2C%20East%20Greenwich%20Township%2C%20NJ%2008020%2C%20%D0%A1%D0%A8%D0%90!5e0!3m2!1sru!2sua!4v1663522122240!5m2!1sru!2sua"
        width="705" height="412" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>