<section class="section question">
  <div class="container">
    <div class="question__inner" style="background-image: url(images/main/question-illustration.png);">
      <div class="question__info">
        <h2 class="title question__title">
          <span class="subtitle">
            Any questions?
          </span>
          Drop us a line
        </h2>
        <form action="#">
          <ul class="question__list">
            <li class="question__block">
              <span class="sr-only">
                Введите ваше имя
              </span>
              <label class="label question__label" for="name">
                First Name*
              </label>
              <input class="input-name" type="name" id="name" name="name" placeholder="Your first name"
                required="required">
            </li>
            <li class="question__block">
              <span class="sr-only">
                Введите вашу фамилию
              </span>
              <label class="label question__label" for="lastName">
                Last Name*
              </label>
              <input class="input-name" type="lastName" id="lastName" name="lastName" placeholder="Your last name"
                required="required">
            </li>
            <li class="question__block">
              <span class="sr-only">
                Введите свой email
              </span>
              <label class="label question__label" for="email">
                Email*
              </label>
              <input class="input-email" type="email" id="email" name="email" placeholder="Your working email"
                required="required">
            </li>
            <li class="question__block">
              <span class="sr-only">
                Введите свой номер телефона
              </span>
              <label class="label question__label" for="phone">
                Phone
              </label>
              <input class="input-phone" type="phone" id="phone" name="phone" placeholder="Your phone number">
            </li>
            <li class="question__block question__block--textarea">
              <span class="sr-only">
                Введите свой номер телефона
              </span>
              <label class="label question__label" for="comment">
                Message*
              </label>
              <textarea class="textarea question__textarea" name="comment" id="comment"
                placeholder="Your message"></textarea>
            </li>
            <li class="question__block">
              <input class="input-checkbox" type="checkbox" id="question" name="question" value="question" checked>
              <label class="label-checkbox" for="question">
                I agree to receive communications from Createx Online School
              </label>
            </li>
            <li class="question__block">
              <button class="link link-l question__link" type="submit">
                Send message
              </button>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>
</section>