.counter {

  &__video {
    margin-bottom: 32px;
  }

  &__inner {
    background-repeat: no-repeat;
    min-height: 500px;
    display: flex;
    align-items: center;
    position: relative;

    &::before {
      @include pseudo;
      width: 136px;
      height: 100px;
      bottom: -43px;
      left: -90px;
      background-image: url('../../../images/main/dots-counter.png');
      background-repeat: no-repeat;
      z-index: -1;
    }
  }

  &__list {
    margin-left: auto;
    max-width: 300px;
  }

  &__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.5;
    color: $c-title;
    display: flex;
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__num {
    font-weight: 900;
    font-size: 48px;
    line-height: 1.3;
    letter-spacing: 1px;
    margin-right: 16px;
    color: $c-primary;
  }
}
