.newsletter {
  margin-bottom: 120px;

  &--blog{
    margin-bottom: 0;
    background-color: #f4f5f7;

    .newsletter__inner{
      padding: 0;
      background-position: left center;
      min-height: 454px;
      display: flex;
      align-items: center;
    }
  }

  &__inner {
    padding: 60px 105px;
    background-repeat: no-repeat;
    background-position: 105px center;
    border-radius: 4px;
    position: relative;

    &::before {
      @include pseudo;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-image: url('../../../images/main/newsletter-bg.jpg');
      z-index: -1;
    }
  }

  &__info {
    max-width: 600px;
    margin-left: auto;
  }

  &__title {
    font-size: 32px;
    margin-bottom: 48px;
  }
}
