<section class="courses courses--courses">
  <div class="container">

    <h1 class="sr-only">
      Online courses
    </h1>

    <h2 class="title courses__titles">
      <span class="subtitle">
        Enjoy your studying!
      </span>
      Our online courses
    </h2>

    <div class="courses__top">
      <ul class="filter">
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter="all">
            All
            <sup class="filter__num">
              17
            </sup>
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter=".category-marketing">
            Marketing
            <sup class="filter__num">
              4
            </sup>
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter=".category-management">
            Management
            <sup class="filter__num">
              3
            </sup>
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter=".category-recruting">
            HR & Recruting
            <sup class="filter__num">
              5
            </sup>
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter=".category-design">
            Design
            <sup class="filter__num">
              2
            </sup>
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter=".category-development">
            Development
            <sup class="filter__num">
              3
            </sup>
          </button>
        </li>
      </ul>
      <form class="courses__form" action="">
        <label class="search" for="search">
          <input class="search__input" type="text" id="search" name="search" placeholder="Search course...">
          <button class="search__btn" type="submit"></button>
          <span class="sr-only">
            Поиск курса
          </span>
        </label>
      </form>
    </div>

    <ul class="courses__list courses__inner">
      <li class="courses__item mix category-marketing">
        <article class="courses-card courses-card--marketing courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/1-1.jpg" alt="Photo by Jerome Bell"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                The Ultimate Google Ads Training Course
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                100
              </span>
              <span class="courses-card__name">
                by Jerome Bell
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-management">
        <article class="courses-card courses-card--management courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/2-2.jpg" alt="Photo by Marvin McKinney"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Prduct Management Fundamentals
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                480
              </span>
              <span class="courses-card__name">
                by Marvin McKinney
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-recruting">
        <article class="courses-card courses-card--recruting courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/3-3.jpg" alt="Photo by Leslie Alexander Li"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                HR Management and Analytics
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                200
              </span>
              <span class="courses-card__name">
                by Leslie Alexander Li
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-marketing">
        <article class="courses-card courses-card--marketing courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/4-4.jpg" alt="Photo  by Kristin Watson"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Brand Management & PR Communications
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                530
              </span>
              <span class="courses-card__name">
                by Kristin Watson
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-design">
        <article class="courses-card courses-card--design courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/5-5.jpg" alt="Photo by Guy Hawkins"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Graphic Design Basic
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                500
              </span>
              <span class="courses-card__name">
                by Guy Hawkins
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-management">
        <article class="courses-card courses-card--management courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/6-6.jpg" alt="Photo by Dianne Russell"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Business Development Management
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                400
              </span>
              <span class="courses-card__name">
                by Dianne Russell
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-development">
        <article class="courses-card courses-card--development courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/7-7.jpg" alt="Photo by Kathryn Murphy"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Highload Software Architecture
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                600
              </span>
              <span class="courses-card__name">
                by Brooklyn Simmons
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-recruting">
        <article class="courses-card courses-card--recruting courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/8-8.jpg" alt="Photo by Kathryn Murphy"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                Human Resources – Selection and Recruitment
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                150
              </span>
              <span class="courses-card__name">
                by Kathryn Murphy
              </span>
            </div>
          </a>
        </article>
      </li>
      <li class="courses__item mix category-design">
        <article class="courses-card courses-card--design courses__card">
          <a class="courses-card__link courses__link" href="course.html">
            <img class="courses-card__img courses__img" src="images/courses/9-9.jpg" alt="Photo by Cody Fisher"
              width="390" height="240">
            <div class="courses-card__info courses__info">
              <h3 class="courses-card__title">
                User Experience. Human-centered Design
              </h3>
              <span class="courses-card__price">
                <span>$</span>
                240
              </span>
              <span class="courses-card__name">
                by Cody Fisher
              </span>
            </div>
          </a>
        </article>
      </li>

    </ul>

    <button class="courses__more" type="button">
      Load more
    </button>
  </div>
</section>