<section class="section benefit benefit--event">
  <div class="container">
    <div class="benefit__inner">
      <h2 class="title benefit__title">
        <span class="subtitle">
          For whom?
        </span>
        Who will benefit from the course:
      </h2>
      <ul class="benefit__list">
        <li class="benefit__item">
          Specialists with more than 1 year of active work experience
        </li>
        <li class="benefit__item">
          Mobile app designers who want to improve their skills in solving business problems, creating and testing
          human-centered interfaces
        </li>
        <li class="benefit__item">
          Professional designers who want to feel more confident in UX
        </li>
      </ul>
    </div>
  </div>
</section>