<section class="certificate certificate--courses">
  <div class="container">
    <div class="certificate__inner certificate__inner--courses">
      <div class="certificate__info">
        <h2 class="title certificate__title">
          <span class="subtitle">
            Createx Certificate
          </span>
          Your expertise will be confirmed
        </h2>
        <span class="certificate__text">
          We are accredited by international professional organizations and institutes:
        </span>
        <ul class="certificate__list">
          <li class="certificate__item">
            <img class="certificate__logo" src="images/certificate/logo-1.png" alt="Logo certificate" width="105"
              height="50">
          </li>
          <li class="certificate__item">
            <img class="certificate__logo" src="images/certificate/logo-2.png" alt="Logo certificate" width="105"
              height="50">
          </li>
          <li class="certificate__item">
            <img class="certificate__logo" src="images/certificate/logo-3.png" alt="Logo certificate" width="105"
              height="50">
          </li>
        </ul>
      </div>
      <div class="certificate__image">
        <img class="certificate__img" src="images/certificate/certificate-bg.jpg" alt="Photo certificate" width="705"
          height="500">
      </div>
    </div>
  </div>
</section>