<header class="header">
  <div class="container">
    <nav class="menu">
      <a class="logo" href="index.html">
        <img class="logo__img" src="images/logo.png" alt="Logo" width="120" height="22">
      </a>
      <ul class="menu__list">
        <li class="menu__item">
          <a class="menu__link" href="about.html">
            About Us
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link menu__link--active" href="#">
            Courses
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="events.html">
            Events
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="blog.html">
            Blog
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link" href="contacts.html">
            Contacts
          </a>
        </li>

        <li class="menu__item menu__item--burger">
          <a class="link link-l menu__link-l" href="#">
            Get consultation
          </a>
        </li>

        <li class="menu__item menu__item--burger">
          <a class="menu__sign" href="#sign-in">
            Log in / Register
          </a>
        </li>
      </ul>
      <div class="menu__btn">
        <a class="link link-l menu__link-l" href="#">
          Get consultation
        </a>
        <a class="menu__sign" href="#sign-in">
          Log in / Register
        </a>

        <form id="sign-in" class="mfp-hide sign">
          <h2 class="sign__title">
            Sign in
          </h2>
          <fieldset class="sign__fieldset">
            <p class="sign__text">
              Sign in to your account using email and password provided during registration.
            </p>
            <ul>
              <li class="sign__item">
                <label class="label" for="email">
                  Email
                </label>
                <input class="input-email sign__input" type="email" id="email" name="email"
                  placeholder="Your working email" required="required">
              </li>
              <li class="sign__item">
                <label class="label" for="password">
                  Password
                </label>
                <input class="input-password sign__input" type="password" id="password-field" name="password"
                  value="secret" required="required">
                <span toggle="#password-field" class="sign__eye"></span>
              </li>
            </ul>
            <div class="sign__box">
              <input class="input-checkbox" type="checkbox" id="keep" name="keep" value="keep" checked>
              <label class="label-checkbox" for="keep">
                Keep me signed in
              </label>
              <a class="sign__password" href="#">
                Forgot password?
              </a>
            </div>
            <button class="link link-r sign__btn" type="submit">
              Sign in
            </button>
            <span class="sign__account">
              Don't have an account?
              <a class="sign__register" href="#sign-up">
                Sign up
              </a>
            </span>
          </fieldset>
          <span class="sign__with">
            Or sign in with
          </span>
          <ul class="sign__socials">
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                <span class="sr-only">
                  Перейти на нашу страницу в facebook
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#google');">
                <span class="sr-only">
                  Перейти на нашу страницу в google
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#twitter');">
                <span class="sr-only">
                  Перейти на нашу страницу в twitter
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                <span class="sr-only">
                  Перейти на нашу страницу в linked-In
                </span>
              </a>
            </li>
          </ul>
        </form>

        <form id="sign-up" class="mfp-hide sign">
          <h2 class="sign__title">
            Sign up
          </h2>
          <fieldset class="sign__fieldset">
            <p class="sign__text">
              Registration takes less than a minute but gives you full control over your studying.
            </p>
            <ul>
              <li class="sign__item">
                <label class="label" for="name">
                  Full Name
                </label>
                <input class="input-email sign__input" type="text" id="name" name="name" placeholder="Your full name"
                  required="required">
              </li>
              <li class="sign__item">
                <label class="label" for="email">
                  Email
                </label>
                <input class="input-email sign__input" type="email" id="email" name="email"
                  placeholder="Your working email" required="required">
              </li>
              <li class="sign__item">
                <label class="label" for="password">
                  Password
                </label>
                <input class="input-password sign__input" type="password" id="password" name="password" value="secret"
                  required="required">
                <span toggle="#password" class="sign__eye"></span>
              </li>
              <li class="sign__item">
                <label class="label" for="password">
                  Confirm Password
                </label>
                <input class="input-password sign__input" type="password" id="password-confirm" name="password"
                  value="secret" required="required">
                <span toggle="#password-confirm" class="sign__eye"></span>
              </li>
            </ul>
            <div class="sign__box">
              <input class="input-checkbox" type="checkbox" id="keep" name="keep" value="keep" checked>
              <label class="label-checkbox" for="keep">
                Remember me
              </label>
            </div>
            <button class="link link-r sign__btn" type="submit">
              Sign up
            </button>
            <span class="sign__account">
              Already have an account?
              <a class="sign__register" href="#sign-in">
                Sign in
              </a>
            </span>
          </fieldset>
          <span class="sign__with">
            Or sign in with
          </span>
          <ul class="sign__socials">
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#facebook');">
                <span class="sr-only">
                  Перейти на нашу страницу в facebook
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#google');">
                <span class="sr-only">
                  Перейти на нашу страницу в google
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#twitter');">
                <span class="sr-only">
                  Перейти на нашу страницу в twitter
                </span>
              </a>
            </li>
            <li class="sign__social">
              <a class="sign__link" href="#" style=" -webkit-mask-image: url('../images/sprite.svg#linked-In');">
                <span class="sr-only">
                  Перейти на нашу страницу в linked-In
                </span>
              </a>
            </li>
          </ul>
        </form>

      </div>
      <button class="burger" type="button">
        <span class="burger__line"></span>
        <span class="sr-only">Открыть меню</span>
      </button>
    </nav>
  </div>
</header>