<section class="section curator">
  <div class="container">
    <div class="curator__inner">
      <img class="curator__img" src="images/curator/2.png" alt="Photo by Kathryn Murphy" width="495" height="600">
      <div class="curator__info curator__info--event">
        <h2 class="title curator__title">
          <span class="subtitle">
            Speaker
          </span>
          Kathryn Murphy
        </h2>
        <span class="curator__proffesion">
          Analyst and Marketing specialist in IT company
        </span>
        <div class="curator__text">
          <p>
            Mattis adipiscing aliquam eu proin metus a iaculis faucibus. Tempus curabitur venenatis, vulputate venenatis
            fermentum ante. Nisl, amet id semper semper quis commodo, consequat. Massa rhoncus sit morbi odio. Sit
            maecenas nibh consectetur vel diam. Sem vulputate molestie laoreet at massa sed pharetra. Ac commodo platea
            id habitasse proin. Nullam sit nec ipsum posuere non. Nam vel aliquam tristique sollicitudin interdum quam.
          </p>
        </div>
        <ul class="curator__logos">
          <li class="curator__logo">
            <img src="images/certificate/logo-gray-1.png" alt="Logo" width="105" height="50">
          </li>
          <li class="curator__logo">
            <img src="images/certificate/logo-gray-2.png" alt="Logo" width="105" height="50">
          </li>
          <li class="curator__logo">
            <img src="images/certificate/logo-gray-3.png" alt="Logo" width="105" height="50">
          </li>
        </ul>
        <ul class="curator__socials">
          <li class="curator__social">
            <a class="curator__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#facebook');">
              <span class="sr-only">
                Перейти на нашу страницу в facebook
              </span>
            </a>
          </li>
          <li class="curator__social">
            <a class="curator__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#behance');">
              <span class="sr-only">
                Перейти на нашу страницу в behance
              </span>
            </a>
          </li>
          <li class="curator__social">
            <a class="curator__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#twitter');">
              <span class="sr-only">
                Перейти на нашу страницу в twitter
              </span>
            </a>
          </li>
          <li class="curator__social">
            <a class="curator__link" href="#" style=" -webkit-mask-image: url('images/sprite.svg#instagram');">
              <span class="sr-only">
                Перейти на нашу страницу в instagram
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>