<section class="section journal">
  <div class="container">
    <h1 class="sr-only">
      Our blog
    </h1>
    <h2 class="title journal__title">
      <span class="subtitle">
        Our blog
      </span>
      Createx School Journal
    </h2>
    <div class="journal__top">
      <ul class="filter">
        <li class="filter__button">
          <button class="filter__btn" type="button" data-filter="all">
            All
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn journal__btn journal__btn--articles" type="button"
            data-filter=".category-articles">
            Articles
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn journal__btn journal__btn--videos" type="button" data-filter=".category-videos">
            Videos
          </button>
        </li>
        <li class="filter__button">
          <button class="filter__btn journal__btn journal__btn--podcasts" type="button"
            data-filter=".category-podcasts">
            Podcasts
          </button>
        </li>
      </ul>
      <form class="journal__form" action="">
        <span class="journal__type">
          Blog category
        </span>
        <select class="select journal__select" name="themes">
          <option value="" selected>all themes</option>
          <option value="">Articles</option>
          <option value=""> Videos</option>
          <option value=""> Podcasts</option>
        </select>

        <label class="search" for="search">
          <input class="search__input journal__input" type="text" id="search" name="search"
            placeholder="Search course...">
          <button class="search__btn" type="submit"></button>
          <span class="sr-only">
            Поиск курса
          </span>
        </label>
      </form>
    </div>

    <ul class="blog journal__blog">
      <li class="blog__item blog__item--podcast mix category-podcasts">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/1.jpg" alt="Marketing photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Marketing
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              September 4, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              36 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            What is traffic arbitrage and does it really make money?
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida. Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Listen
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/5.jpg" alt="Development photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Development
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              September 1, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            How to choose the first programming language for a beginner
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Turpis sed at magna laoreet gravida consequat tortor placerat. Gravida vitae aliquet enim egestas dui...
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Watch
        </a>
      </li>

      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/3.jpg" alt="Design photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Design
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 8, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            Should you choose a creative profession if you are attracted to creativity?
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Curabitur nisl tincidunt eros venenatis vestibulum ac placerat. Tortor, viverra sed vulputate ultrices.
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Read
        </a>
      </li>

      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/4.jpg" alt="Recruting photo" width="810" height="305">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              HR & Recruting
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 3, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            HR statistics: job search, interviews, hiring and recruiting
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Massa, lectus nibh consectetur aliquet nunc risus aenean. Leo hac netus bibendum diam adipiscing aenean
            nisl. Molestie nullam ante mattis ac sit vitae pellentesque mi etiam. Morbi commodo tempor, massa vivamus. A
            molestie id semper fermentum pretium...
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Read
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/2.jpg" alt="Management photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Management
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              August 25, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              45 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            What to do and who to talk to if you want to get feedback on the product
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Neque a, senectus consectetur odio in aliquet nec eu. Ultricies ac nibh urna urna sagittis faucibus.
            Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus
            gravida
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Watch
        </a>
      </li>

      <li class="blog__item blog__item--podcast mix category-podcasts">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/6.jpg" alt="Design photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Design
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 28, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              36 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            What are color profiles and how they work in graphic design
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Aliquam vulputate hendrerit quam sollicitudin urna enim viverra gravida. Consectetur urna arcu eleifend...
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Listen
        </a>
      </li>

      <li class="blog__item blog__item--video mix category-videos">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/7.jpg" alt="Management photo" width="390" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Management
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 15, 2020
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--clock" href="#">
              45 min
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            Startup: how to build a team that will live longer than a year
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Nisi, massa ut sit faucibus et diam. Faucibus at malesuada at justo scelerisque in nisi, urna...
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Watch
        </a>
      </li>

      <li class="blog__item blog__item--article mix category-articles">
        <a class="blog__images" href="blog-article.html">
          <img class="blog__img" src="../../../images/blog/8.jpg" alt="Marketing photo" width="705" height="300">
        </a>
        <ul class="blog__list">
          <li class="blog__descr">
            <a class="blog__type" href="#">
              Marketing
            </a>
          </li>
          <li class="blog__descr">
            <a class="blog__link blog__link--calendar" href="#">
              July 9, 2020
            </a>
          </li>
        </ul>
        <a class="blog__link-title" href="blog-article.html">
          <h3 class="blog__heading">
            How to get customers to love your business from the start
          </h3>
        </a>
        <div class="blog__text">
          <p>
            Malesuada in augue mi feugiat morbi a aliquet enim. Elementum lacus, pellentesque etiam arcu tristique ac...
          </p>
        </div>
        <a class="blog__more" href="blog-article.html">
          Read
        </a>
      </li>
    </ul>

    <ul class="pagination">
      <li class="pagination__item">
        <a class="pagination__link pagination__link--active" href="#">
          1
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          2
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          3
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link" href="#">
          4
        </a>
      </li>
      <li class="pagination__item">
        <a class="pagination__link pagination__link--next" href="#">
        </a>
      </li>
    </ul>
  </div>
</section>