<section class="newsletter newsletter--blog">
  <div class="container">
    <div class="newsletter__inner" style="background-image: url('../../../images/main/news-bg.png');">
      <div class="newsletter__info">
        <h2 class="title newsletter__title">
          Want to get the best articles weekly?
          Subscribe to our newsletter!
        </h2>
        <form action="#">
          <label class="label-email" for="email">
            <input class="input-email newsletter__input-email" type="email" id="email" name="email"
              placeholder="Your working email" required="required">
            <span class="sr-only">
              Введите свой email
            </span>
            <button class="link link-l newsletter__link-l" type="submit">
              Subscribe
            </button>
          </label>

          <input class="input-checkbox" type="checkbox" id="agree" name="agree" value="agree" checked>
          <label class="label-checkbox" for="agree">
            I agree to receive communications from Createx Online School
          </label>
        </form>
      </div>
    </div>
  </div>
</section>